.app {
  width: 80%;
  margin: 0 auto;
}
.completed {
  color: red;
  width: 80%;
}
.uncompleted {
  color: darkblue;
  width: 80%;
}
.completed-element {
  display: flex;
  justify-content: space-between;
}
.uncompleted-element {
  display: flex;
  justify-content: space-between;
}
